.adoc .sect1,.adoc .sect2,.adoc .sect3,.adoc .sect4 {
    position: relative
}

@media (min-width: 768px) {
    .adoc .sect1 :global(> *),.adoc .sect2 :global(> *),.adoc .sect3 :global(> *),.adoc .sect4 :global(> *) {
        padding-left:1rem;
        padding-right: 1rem
    }
}

.adoc .paragraph {
    padding: .5rem
}

.adoc ul {
    list-style-type: disc;
    padding-left: 1.75rem
}

.adoc h1,.adoc h2,.adoc h3,.adoc h4 {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 1rem
}

@media (min-width: 768px) {
    .adoc h1,.adoc h2,.adoc h3,.adoc h4 {
        position:initial
    }
}

.adoc h1 a,.adoc h2 a,.adoc h3 a,.adoc h4 a {
    color: transparent;
    position: absolute;
    right: -1.5rem
}

@media (min-width: 768px) {
    .adoc h1 a,.adoc h2 a,.adoc h3 a,.adoc h4 a {
        right:initial;
        left: 0rem
    }
}

.adoc h1 a:hover,.adoc h2 a:hover,.adoc h3 a:hover,.adoc h4 a:hover {
    color: var(--link-color);
    text-decoration: none
}

.adoc .admonitionblock {
    padding-top: 2em;
    color: var(--foreground)
}

.adoc .admonitionblock tr {
    position: relative
}

.adoc .admonitionblock tr .icon {
    display: block;
    position: absolute;
    top: -1.7em;
    left: 0;
    width: 100%;
    height: 1.7em;
    background-color: var(--header-color);
    color: #fff;
    --tw-bg-opacity: .1;
    padding-left: .25rem
}

.adoc .admonitionblock tr .content {
    background-color: var(--content-color);
    padding: .75rem
}

.adoc .admonitionblock.warning {
    --header-color: #ff6e00;
    --content-color: #ffb580
}

.adoc .admonitionblock.note {
    --header-color: #2563eb;
    --content-color: #93c5fd
}

.adoc .admonitionblock.tip {
    --header-color: #00ffea;
    --content-color: #217e73
}

.adoc .listingblock {
    background-color: #ddd
}

.adoc .listingblock code[class*=language-],.adoc .listingblock pre[class*=language-] {
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none;
    color: #68615e
}

.adoc .listingblock pre[class*=language-] {
    margin: .5em 0;
    overflow: auto
}

.adoc .listingblock :not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em
}

.adoc .listingblock .token.comment,.adoc .listingblock .token.prolog,.adoc .listingblock .token.doctype,.adoc .listingblock .token.cdata {
    color: #9c9491
}

.adoc .listingblock .token.punctuation {
    color: #68615e
}

.adoc .listingblock .token.namespace {
    opacity: .7
}

.adoc .listingblock .token.operator,.adoc .listingblock .token.boolean,.adoc .listingblock .token.number {
    color: #df5320
}

.adoc .listingblock .token.property {
    color: #c38418
}

.adoc .listingblock .token.tag {
    color: #407ee7
}

.adoc .listingblock .token.string {
    color: #3d97b8
}

.adoc .listingblock .token.selector {
    color: #6666ea
}

.adoc .listingblock .token.attr-name {
    color: #df5320
}

.adoc .listingblock .token.entity,.adoc .listingblock .token.url,.adoc .listingblock .language-css .token.string,.adoc .listingblock .style .token.string {
    color: #3d97b8
}

.adoc .listingblock .token.attr-value,.adoc .listingblock .token.keyword,.adoc .listingblock .token.control,.adoc .listingblock .token.directive,.adoc .listingblock .token.unit {
    color: #7b9726
}

.adoc .listingblock .token.statement,.adoc .listingblock .token.regex,.adoc .listingblock .token.atrule {
    color: #3d97b8
}

.adoc .listingblock .token.placeholder,.adoc .listingblock .token.variable {
    color: #407ee7
}

.adoc .listingblock .token.deleted {
    text-decoration: line-through
}

.adoc .listingblock .token.inserted {
    border-bottom: 1px dotted #1b1918;
    text-decoration: none
}

.adoc .listingblock .token.italic {
    font-style: italic
}

.adoc .listingblock .token.important,.adoc .listingblock .token.bold {
    font-weight: 700
}

.adoc .listingblock .token.important {
    color: #f22c40
}

.adoc .listingblock .token.entity {
    cursor: help
}

.adoc .listingblock pre>code.highlight {
    outline: .4em solid #f22c40;
    outline-offset: .4em
}

.adoc .listingblock .line-numbers .line-numbers-rows {
    border-right-color: #e6e2e0!important
}

.adoc .listingblock .line-numbers-rows>span:before {
    color: #a8a19f!important
}

.adoc .listingblock .line-highlight {
    background: rgba(27,25,24,.2)!important;
    background: linear-gradient(to right,rgba(27,25,24,.2) 70%,rgba(27,25,24,0))!important
}

.adoc .listingblock pre[class*=language-].line-numbers {
    position: relative;
    counter-reset: linenumber
}

.adoc .listingblock pre[class*=language-].line-numbers>code {
    position: relative;
    white-space: inherit
}

.adoc .listingblock .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.adoc .listingblock .line-numbers-rows>span {
    display: block;
    counter-increment: linenumber
}

.adoc .listingblock .line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

.adoc .listingblock div.code-toolbar {
    position: relative
}

.adoc .listingblock div.code-toolbar>.toolbar {
    position: absolute;
    z-index: 10;
    top: .3em;
    right: .2em;
    transition: opacity .3s ease-in-out;
    opacity: 0
}

.adoc .listingblock div.code-toolbar:hover>.toolbar {
    opacity: 1
}

.adoc .listingblock div.code-toolbar:focus-within>.toolbar {
    opacity: 1
}

.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item {
    display: inline-block;
    padding: .1em
}

.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>a {
    cursor: pointer
}

.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>a,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>button,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: rgba(224,224,224,.2);
    box-shadow: 0 2px #0003;
    border-radius: .5em
}

.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>a:hover,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>a:focus,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>button:hover,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>button:focus,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>span:hover,.adoc .listingblock div.code-toolbar>.toolbar>.toolbar-item>span:focus {
    color: inherit;
    text-decoration: none
}

.adoc .listingblock .token.punctuation.brace-hover,.adoc .listingblock .token.punctuation.brace-selected {
    outline: solid 1px
}

.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-1,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-5,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-9 {
    color: #e50;
    opacity: 1
}

.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-2,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-6,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-10 {
    color: #0b3;
    opacity: 1
}

.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-3,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-7,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-11 {
    color: #26f;
    opacity: 1
}

.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-4,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-8,.adoc .listingblock .rainbow-braces .token.punctuation.brace-level-12 {
    color: #e0e;
    opacity: 1
}

.adoc .listingblock .prism-previewer,.adoc .listingblock .prism-previewer:before,.adoc .listingblock .prism-previewer:after {
    position: absolute;
    pointer-events: none
}

.adoc .listingblock .prism-previewer,.adoc .listingblock .prism-previewer:after {
    left: 50%
}

.adoc .listingblock .prism-previewer {
    margin-top: -48px;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    z-index: 10;
    opacity: 0;
    transition: opacity .25s
}

.adoc .listingblock .prism-previewer.flipped {
    margin-top: 0;
    margin-bottom: -48px
}

.adoc .listingblock .prism-previewer:before,.adoc .listingblock .prism-previewer:after {
    content: "";
    position: absolute;
    pointer-events: none
}

.adoc .listingblock .prism-previewer:before {
    inset: -5px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px #00000080 inset,0 0 10px #000000bf
}

.adoc .listingblock .prism-previewer:after {
    top: 100%;
    width: 0;
    height: 0;
    margin: 5px 0 0 -7px;
    border: 7px solid transparent;
    border-color: #f000;
    border-top-color: #fff
}

.adoc .listingblock .prism-previewer.flipped:after {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    border-top-color: #f000;
    border-bottom-color: #fff
}

.adoc .listingblock .prism-previewer.active {
    opacity: 1
}

.adoc .listingblock .prism-previewer-angle:before {
    border-radius: 50%;
    background: #fff
}

.adoc .listingblock .prism-previewer-angle:after {
    margin-top: 4px
}

.adoc .listingblock .prism-previewer-angle svg {
    width: 32px;
    height: 32px;
    transform: rotate(-90deg)
}

.adoc .listingblock .prism-previewer-angle[data-negative] svg {
    transform: scaleX(-1) rotate(-90deg)
}

.adoc .listingblock .prism-previewer-angle circle {
    fill: transparent;
    stroke: #2e3538;
    stroke-opacity: .9;
    stroke-width: 32;
    stroke-dasharray: 0,500
}

.adoc .listingblock .prism-previewer-gradient {
    background-image: linear-gradient(45deg,#bbb 25%,transparent 25%,transparent 75%,#bbb 75%,#bbb),linear-gradient(45deg,#bbb 25%,#eee 25%,#eee 75%,#bbb 75%,#bbb);
    background-size: 10px 10px;
    background-position: 0 0,5px 5px;
    width: 64px;
    margin-left: -32px
}

.adoc .listingblock .prism-previewer-gradient:before {
    content: none
}

.adoc .listingblock .prism-previewer-gradient div {
    position: absolute;
    inset: -5px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px #00000080 inset,0 0 10px #000000bf
}

.adoc .listingblock .prism-previewer-color {
    background-image: linear-gradient(45deg,#bbb 25%,transparent 25%,transparent 75%,#bbb 75%,#bbb),linear-gradient(45deg,#bbb 25%,#eee 25%,#eee 75%,#bbb 75%,#bbb);
    background-size: 10px 10px;
    background-position: 0 0,5px 5px
}

.adoc .listingblock .prism-previewer-color:before {
    background-color: inherit;
    background-clip: padding-box
}

.adoc .listingblock .prism-previewer-easing {
    margin-top: -76px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #333
}

.adoc .listingblock .prism-previewer-easing.flipped {
    margin-bottom: -116px
}

.adoc .listingblock .prism-previewer-easing svg {
    width: 60px;
    height: 60px
}

.adoc .listingblock .prism-previewer-easing circle {
    fill: #2e3538;
    stroke: #fff
}

.adoc .listingblock .prism-previewer-easing path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4
}

.adoc .listingblock .prism-previewer-easing line {
    stroke: #fff;
    stroke-opacity: .5;
    stroke-width: 2
}

@keyframes prism-previewer-time {
    0% {
        stroke-dasharray: 0,500;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100,500;
        stroke-dashoffset: 0
    }

    to {
        stroke-dasharray: 0,500;
        stroke-dashoffset: -100
    }
}

.adoc .listingblock .prism-previewer-time:before {
    border-radius: 50%;
    background: #fff
}

.adoc .listingblock .prism-previewer-time:after {
    margin-top: 4px
}

.adoc .listingblock .prism-previewer-time svg {
    width: 32px;
    height: 32px;
    transform: rotate(-90deg)
}

.adoc .listingblock .prism-previewer-time circle {
    fill: transparent;
    stroke: #2e3538;
    stroke-opacity: .9;
    stroke-width: 32;
    stroke-dasharray: 0,500;
    stroke-dashoffset: 0;
    animation: prism-previewer-time linear infinite 3s
}

.adoc .listingblock .token a {
    color: inherit;
    text-decoration: underline
}

.adoc .listingblock .highlight {
    padding: 1rem 1rem 1rem 4rem
}

html.dark .adoc .admonitionblock.warning {
    --header-color: #dc2626;
    --content-color: #7f1d1d
}

html.dark .adoc .admonitionblock.note {
    --header-color: #2563eb;
    --content-color: #1e3a8a
}

html.dark .adoc .listingblock {
    background-color: #181818
}

html.dark .adoc .listingblock code[class*=language-],html.dark .adoc .listingblock pre[class*=language-] {
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none;
    color: #a8a19f
}

html.dark .adoc .listingblock pre[class*=language-]::-moz-selection,html.dark .adoc .listingblock pre[class*=language-] ::-moz-selection,html.dark .adoc .listingblock code[class*=language-]::-moz-selection,html.dark .adoc .listingblock code[class*=language-] ::-moz-selection {
    background: #FF8000
}

html.dark .adoc .listingblock pre[class*=language-] {
    margin: .5em 0;
    overflow: auto
}

html.dark .adoc .listingblock :not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em
}

html.dark .adoc .listingblock .token.comment,html.dark .adoc .listingblock .token.prolog,html.dark .adoc .listingblock .token.doctype,html.dark .adoc .listingblock .token.cdata {
    color: #766e6b
}

html.dark .adoc .listingblock .token.punctuation {
    color: #a8a19f
}

html.dark .adoc .listingblock .token.namespace {
    opacity: .7
}

html.dark .adoc .listingblock .token.operator,html.dark .adoc .listingblock .token.boolean,html.dark .adoc .listingblock .token.number {
    color: #df5320
}

html.dark .adoc .listingblock .token.property {
    color: #c38418
}

html.dark .adoc .listingblock .token.tag {
    color: #407ee7
}

html.dark .adoc .listingblock .token.string {
    color: #3d97b8
}

html.dark .adoc .listingblock .token.selector {
    color: #6666ea
}

html.dark .adoc .listingblock .token.attr-name {
    color: #df5320
}

html.dark .adoc .listingblock .token.entity,html.dark .adoc .listingblock .token.url,html.dark .adoc .listingblock .language-css .token.string,html.dark .adoc .listingblock .style .token.string {
    color: #3d97b8
}

html.dark .adoc .listingblock .token.attr-value,html.dark .adoc .listingblock .token.keyword,html.dark .adoc .listingblock .token.control,html.dark .adoc .listingblock .token.directive,html.dark .adoc .listingblock .token.unit {
    color: #7b9726
}

html.dark .adoc .listingblock .token.statement,html.dark .adoc .listingblock .token.regex,html.dark .adoc .listingblock .token.atrule {
    color: #3d97b8
}

html.dark .adoc .listingblock .token.placeholder,html.dark .adoc .listingblock .token.variable {
    color: #407ee7
}

html.dark .adoc .listingblock .token.deleted {
    text-decoration: line-through
}

html.dark .adoc .listingblock .token.inserted {
    border-bottom: 1px dotted #f1efee;
    text-decoration: none
}

html.dark .adoc .listingblock .token.italic {
    font-style: italic
}

html.dark .adoc .listingblock .token.important,html.dark .adoc .listingblock .token.bold {
    font-weight: 700
}

html.dark .adoc .listingblock .token.important {
    color: #f22c40
}

html.dark .adoc .listingblock .token.entity {
    cursor: help
}

html.dark .adoc .listingblock pre>code.highlight {
    outline: .4em solid #f22c40;
    outline-offset: .4em
}

html.dark .adoc .listingblock .line-numbers .line-numbers-rows {
    border-right-color: #2c2421!important
}

html.dark .adoc .listingblock .line-numbers-rows>span:before {
    color: #68615e!important
}

html.dark .adoc .listingblock .line-highlight {
    background: rgba(241,239,238,.2)!important;
    background: linear-gradient(to right,rgba(241,239,238,.2) 70%,rgba(241,239,238,0))!important
}

main:where(.astro-2RB4JKHL) {
    width: 100%
}

.meta:where(.astro-2RB4JKHL) {
    display: flex;
    gap: 1rem
}

.meta:where(.astro-2RB4JKHL) p:where(.astro-2RB4JKHL) {
    font-size: 1em
}

.post-content:where(.astro-2RB4JKHL) {
    margin-top: 2rem
}
