{% for (position,package) in packages.iter().with_position() %}
{% let is_last_package = position == itertools::Position::Last || position == itertools::Position::Only %}
<a id="package-{{package.id}}"
   class="p-4 bg-secondary-bg text-secondary-fg w-64 grow"
   {% if let Some(version) = package.version %}
   href="/package/{{package.id}}?version={{version.to_string()}}"
   {% else %}
   href="/package/{{package.id}}"
   {% endif %}
   {% if is_last_package %}
   hx-get="/?page={{next_page}}"
   hx-trigger="revealed"
   hx-swap="afterend"
   {% endif %}
>
    <h2 class="font-semibold text-lg">{{package.name}}</h2>
    <p class="flex-1">
        {{package.short_description}}
    </p>
</a>
{% endfor %}
